@font-face {
  font-family: 'Geist Mono';
  src: url('fonts/GeistMono-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  /* Базовый текстовый шрифт */
  --font-base: 'Geist Mono';

  /* Акцентный шрифт для заголовков (можно заменить отдельно при желании) */
  --font-accent: 'Geist Mono';
}

body {
  font-family: var(--font-base);
}

.font-accent {
  font-family: var(--font-accent);
}

